<h2>Resultados</h2>         
<br>
<div id="Cuadrado">  
<div class="tg-wrap"><table class="tg">
  <tr>
    <th class="tg-l93j">AÑO </th><th class="tg-l93j">REGION </th><th class="tg-l93j">DISTRITO </th><th class="tg-l93j"d>OFERTA </th><th class="tg-l93j">APELLIDO </th> <th class="tg-l93j">NOMBRE</th> <th class="tg-l93j"d>DNI</th>
  </tr>
{{#each doc}}
  <tr>  
    <td class="tg-kyy7">{{A}} </td><td class="tg-kyy7">{{REG}} </td><td class="tg-kyy7">{{DIST}} </td><td class="tg-kyy7">{{PROG}} </td><td class="tg-kyy7">{{AP}} </td> <td class="tg-kyy7">{{NOM}}</td> <td class="tg-kyy7">{{DNI}}</td>
  </tr>   
{{/each}}
</table></div>
</div>
<br>
<a href="/">Retornar</a>
<br><br>